<title>Product Detail</title>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h1 class="mb-4">Product Detail</h1>
        <div class="card">
            <div class="card-text">
                {{ product.name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Price: ${{ product.price }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="{% url 'product_list' %}" class="btn btn-primary">Back to Products</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

